/* Style for the form container */
.bodyarea {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

/* Style for form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for form input fields */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #0783f7b7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0783f7b7;
}

.center-form {
    text-align: center;
}

.head h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.head {
    background-color: #1484c9;
    color: white;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

.bodyarea {
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}
